@use './partials/variables' as *;


$fa-font-path: './webfonts';
@import '@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '@fortawesome/fontawesome-free/scss/solid.scss';
@import '@fortawesome/fontawesome-free/scss/regular.scss';

@import 'bootstrap/scss/bootstrap';


@import "@fontsource/montserrat";

body {
    font-family: "Montserrat", sans-serif;
    background-color: $main-color;
    overflow: auto;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: $tertiary-color;
}


::-webkit-scrollbar-track {
    background-color: $subtitle;
}

::-webkit-scrollbar-thumb:hover {
    background-color: $secondary-color;
}